
<div class="nutrients-total-container">
    <div>
        <h3 class="entryHeading">Calories Entered</h3>
        <h3 class="nutrient-value">@Model.TotalCalories kcal</h3>
    </div>
    <div>
        <h3 class="entryHeading">Protein</h3>
        <h3 class="nutrient-value"> @Model.TotalProtein G</h3>
    </div>
    <div>
        <h3 class="entryHeading">Fat</h3>
        <h3 class="nutrient-value"> @Model.TotalFat G</h3>
    </div>
    <div>
        <h3 class="entryHeading">Carbohydrates</h3>
        <h3 class="nutrient-value"> @Model.TotalCarbs G</h3>
    </div>
</div>

    